{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block titulo %}Gestión de empresas clientes{% endblock titulo %}
{% block descripcion_pagina %} Registrar empresa clientes {% endblock descripcion_pagina %}
{% block miga_pan %}
<li><a href="{% url 'empresas_clientes:gestion'%}"></i> GESTIONAR EMPRESAS CLIENTES</a></li>
<li class="active">REGISTRAR EMPRESA CLIENTE</li>
{% endblock miga_pan %}
 
{% block css %}
<link rel="stylesheet" href="{%  static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link href="{% static 'bower_components/datatables.net-bs/responsive/responsive.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
{{ form_empleado.media.css }}
<style media="screen">
    .select2-container {
        width: 100% !important;
    }
</style>
{% endblock css %}

{% block contenido %}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Registrar empresa cliente</h3>
        </div>
        <div class="box-body">
            <form method="post" id="formulario" onsubmit="return validacion()" action="{% url 'empresas_clientes:crear_empresa' %}" autocomplete="off"> {% csrf_token %}

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.nit%}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.nombre%}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.nombre_comercial%}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.direccion%}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.telefono%}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.email%}
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.sitio_web%}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.pais%}
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.estado%}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.ciudad%}
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% bootstrap_field form.empresa %}
                    </div>
                    
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 text-center">
                        <button type="submit" class="btn btn-success btn-raised" id="registrar"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Guardar</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-danger btn-raised" href="/empresas_clientes/" role="button"><span class="glyphicon glyphicon-remove"></span>&nbsp Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}

<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/responsive/dataTables.responsive.min.js' %}"></script>

<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
    {% for msg in messages %}
    $(document).ready(function () {
        setTimeout(function () {
            toastr.options = {
                "closeButtons": true,
                "progressBar": true,
                "preventDuplicates": true,
                "showEasing": "swing",
                "extendedTimeOut": 5000,
                "timeOut": 4000
            }
            toastr["{{ msg.tags }}"]("{{ msg }}")
        }, 500);
    });
    {% endfor %}
</script>

{% endblock js %}
